div{
    /*width: 10px;*/
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid red;
    /*animation-name: my-animation;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
    animation: my-animation 2s infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@keyframes my-animation {
    from{
        width: 10px;
        border: 2px solid red;
    }
    to{
        width: 200px;
        border: 2px solid red;
        opacity: 0;
    }
}
div:hover{

}